# System / IDE
.DS_Store
__pycache__/
*.pyc
*.pyo
*.log
*.ipynb_checkpoints

# Virtual environments
.venv/
env/
venv/

# Local data
data/
validation/__pycache__/
tests/__pycache__/

# Environment config
.env
dbt/profiles.yml

# OS-specific
Thumbs.db

# Terraform
terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/


